APP_NAME=Bot WhatsApp Store
NODE_ENV=production
LOG_LEVEL=info
TZ=Asia/Jakarta

DB_PATH=data/botstore.sqlite
SESSIONS_PATH=sessions
COMMAND_PREFIX=

MAIN_OWNER_JID=6282120196167@s.whatsapp.net
OWNER_CLAIM_CODE=Ditsanalah144
RENTAL_REFRESH_SECONDS=60
